@font-face {
  font-family: "Circular Spotify Text";
  src: url("../fonts/CircularSpotifyText-Medium.eot");
  src: url("../fonts/CircularSpotifyText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularSpotifyText-Medium.woff2") format("woff2"), url("../fonts/CircularSpotifyText-Medium.woff") format("woff"), url("../fonts/CircularSpotifyText-Medium.ttf") format("truetype"), url("../fonts/CircularSpotifyText-Medium.svg#CircularSpotifyText-Medium") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Spotify Text";
  src: url("../fonts/CircularSpotifyText-Bold.eot");
  src: url("../fonts/CircularSpotifyText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularSpotifyText-Bold.woff2") format("woff2"), url("../fonts/CircularSpotifyText-Bold.woff") format("woff"), url("../fonts/CircularSpotifyText-Bold.ttf") format("truetype"), url("../fonts/CircularSpotifyText-Bold.svg#CircularSpotifyText-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Spotify Text Book";
  src: url("../fonts/CircularSpotifyText-Book.eot");
  src: url("../fonts/CircularSpotifyText-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularSpotifyText-Book.woff2") format("woff2"), url("../fonts/CircularSpotifyText-Book.woff") format("woff"), url("../fonts/CircularSpotifyText-Book.ttf") format("truetype"), url("../fonts/CircularSpotifyText-Book.svg#CircularSpotifyText-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body, html {
  color: #1F1F25;
  font-family: "Circular Spotify Text Book";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
@media (min-width: 992px) {
  body, html {
    font-size: 22px;
  }
}

.container-md {
  max-width: 1230px;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Circular Spotify Text";
  font-weight: 400;
}

.header-box {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.header-box.sticky header {
  background-color: #5E0A96;
}

header {
  padding: 10px 0;
  transition: all 0.3s;
  background-color: transparent;
}
header .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
header .navbar a.logo, header .navbar a.logo:focus {
  padding: 0;
}
header .navbar .navbar-collapse {
  justify-content: end;
}
header .navbar ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  background-color: #5E0A96;
}
@media (min-width: 992px) {
  header .navbar ul {
    display: flex;
    background-color: transparent;
    padding: 0;
  }
}
@media (min-width: 992px) {
  header .navbar ul > li {
    display: flex;
    margin-right: 56px;
  }
}
header .navbar ul a, header .navbar ul a:focus {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.3s;
  white-space: nowrap;
  padding: 8px;
}
@media (min-width: 992px) {
  header .navbar ul a, header .navbar ul a:focus {
    padding: 0;
  }
}
header .navbar ul a:hover, header .navbar ul a:focus:hover {
  color: #fff;
}
header .request-demo {
  margin-left: 0;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
@media (min-width: 992px) {
  header .request-demo {
    margin-left: 0px;
    position: unset;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 0.375rem;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  box-shadow: none !important;
}
.navbar-toggler svg {
  fill: #fff;
}

.btn {
  padding: 12px 28px;
  font-family: Circular Spotify Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
  border-radius: 12px;
}
.btn.large {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 24px;
}
@media (min-width: 992px) {
  .btn.large {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 16px 32px;
  }
}
.btn.btn-solid {
  background-color: #340653;
  color: #fff;
}
.btn.btn-solid:hover {
  background-color: #340653;
  color: #fff;
  box-shadow: 2px 8px 12px 0px rgba(220, 168, 255, 0.25);
}

.hero-block {
  background: url(../images/Hero-Section-bg.svg) no-repeat;
  background-size: cover;
  padding: 70px 0 62px;
}
@media (min-width: 992px) {
  .hero-block {
    padding: 180px 0px 98px;
  }
}
.hero-block .hero-data-box {
  padding-block: 18px;
}
@media (min-width: 992px) {
  .hero-block .hero-data-box {
    padding-block: 40px 0;
  }
}
.hero-block .hero-data-box .hero-heading {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .hero-block .hero-data-box .hero-heading {
    font-size: 45px;
    margin-bottom: 32px;
  }
}
.hero-block .hero-data-box .hero-desc {
  color: #fefefe;
  margin-bottom: 30px;
  line-height: 24px;
}
@media (min-width: 992px) {
  .hero-block .hero-data-box .hero-desc {
    margin-bottom: 40px;
    opacity: 0.6;
  }
}
.hero-block .hero-data-box .watch-demo {
  display: inline-flex;
  align-items: center;
}
.hero-block .hero-data-box .watch-demo img {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}
.hero-block .hero-data-box .watch-demo span {
  line-height: 1;
}
.hero-block .enq-form-wrap {
  padding: 24px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 42px;
}
@media (min-width: 992px) {
  .hero-block .enq-form-wrap {
    margin-left: 30px;
  }
}
.hero-block .enq-form-wrap h4 {
  color: #340653;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  margin-bottom: 21px;
}
.hero-block .enq-form-wrap h4::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #340653;
  bottom: -9px;
  left: 0;
}
.hero-block .enq-form-wrap form {
  margin-bottom: 0px;
}
.hero-block .enq-form-wrap form label {
  color: #340653;
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 0;
  margin-top: 14px;
}
.hero-block .enq-form-wrap form input {
  color: rgba(52, 6, 83, 0.5);
  font-size: 16px;
}
.hero-block .enq-form-wrap form input.form-control {
  padding: 0.5rem 0.75rem;
}
.hero-block .enq-form-wrap form .input-wrap {
  position: relative;
  margin-top: 3px;
  margin-bottom: 6px;
}
.hero-block .enq-form-wrap form .input-wrap img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.hero-block .enq-form-wrap form .input-wrap input {
  padding-left: 46px;
}
.hero-block .enq-form-wrap form .btn {
  font-weight: bold;
  font-family: "Circular Spotify Text";
  margin-top: 18px;
}

.enquire-now-section {
  padding-block: 50px;
  background: #F9F9F9;
}
@media (min-width: 992px) {
  .enquire-now-section {
    padding-block: 120px 80px;
  }
}
.enquire-now-section p.video-desc {
  font-size: 16px;
  margin-block: 27px;
  line-height: 24px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #5E0A96;
  font-weight: 400;
}
@media (min-width: 992px) {
  .enquire-now-section p.video-desc {
    font-size: 24px;
    margin-block: 32px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 554px;
  }
}

.feature-section {
  padding-block: 80px;
}
@media (min-width: 992px) {
  .feature-section {
    padding-block: 120px 80px;
  }
}
.feature-section .feature-row .inner-content {
  padding-left: 0px;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .feature-section .feature-row .inner-content {
    padding-left: 18px;
  }
}
.feature-section .feature-row.second .inner-content {
  padding-left: 0px;
  padding-right: 40px;
  padding-top: 26px;
}
.feature-section .feature-row.third {
  margin-bottom: 74px;
}
.feature-section .feature-row.third img {
  margin: 60px 35px;
}
.feature-section .feature-row.third .inner-content {
  padding-left: 29px;
  padding-right: 40px;
  padding-top: 0px;
}
.feature-section .feature-row.third .inner-content .btn {
  margin-top: 9px;
}
.feature-section .feature-row:not(:last-child) {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .feature-section .feature-row:not(:last-child) {
    margin-bottom: 150px;
  }
}
.feature-section .feature-data {
  margin-top: 12px;
}
@media (min-width: 992px) {
  .feature-section .feature-data {
    margin-top: 0px;
  }
}
.feature-section .feature-data h3 {
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .feature-section .feature-data h3 {
    font-size: 32px;
    margin-bottom: 35px;
  }
}
.feature-section .feature-data ul {
  padding: 0px;
  margin-top: 24px;
}
@media (min-width: 992px) {
  .feature-section .feature-data ul {
    margin-top: 0px;
  }
}
.feature-section .feature-data ul li {
  margin-top: 12px;
  padding-left: 28px;
  line-height: 24px;
  font-size: 16px;
  position: relative;
}
@media (min-width: 992px) {
  .feature-section .feature-data ul li {
    line-height: 28px;
    font-size: 22px;
    padding-left: 40px;
    margin-top: 16px;
  }
}
.feature-section .feature-data ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/ph_seal-check-light.png) no-repeat;
  background-size: contain;
  left: 0px;
  top: 2px;
}
@media (min-width: 992px) {
  .feature-section .feature-data ul li::before {
    width: 23px;
    height: 23px;
  }
}
.feature-section .feature-data .btn {
  margin-inline: auto;
  display: table;
}
@media (min-width: 992px) {
  .feature-section .feature-data .btn {
    margin-inline: unset;
    display: inline-block;
  }
}

.benefits-section {
  background: var(--foundation-purple-purple-50, #EFE7F5);
  padding: 60px 0px;
}
.benefits-section .block-head {
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .benefits-section .block-head {
    font-size: 32px;
    margin-bottom: 45px;
  }
}
.benefits-section .benefit-box h4 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 17px;
}
@media (min-width: 992px) {
  .benefits-section .benefit-box h4 {
    font-size: 24px;
    letter-spacing: 0.12px;
  }
}
.benefits-section .benefit-box p {
  opacity: 0.8;
  line-height: 28px;
}
.benefits-section .btn {
  margin-top: 10px;
}

.achievement-section {
  padding-block: 50px;
}
@media (min-width: 992px) {
  .achievement-section {
    padding-block: 55px;
  }
}
.achievement-section .achieve-box {
  padding-block: 20px;
}
@media (min-width: 992px) {
  .achievement-section .achieve-box {
    padding-block: 0px;
  }
}
.achievement-section .achieve-box .data {
  text-align: center;
  font-family: "Circular Spotify Text";
  font-size: 56px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .achievement-section .achieve-box .data {
    font-size: 96px;
    margin-top: 28px;
    line-height: 120px;
  }
}
.achievement-section .achieve-box .data i {
  font-size: 36px;
  font-style: normal;
}
@media (min-width: 992px) {
  .achievement-section .achieve-box .data i {
    font-size: 56px;
  }
}
.achievement-section .achieve-box p {
  opacity: 0.8;
}

.joinNow-section {
  padding-block: 35px;
  background: #F7F7F7;
}
@media (min-width: 992px) {
  .joinNow-section {
    padding-block: 65px;
  }
}
.joinNow-section h4 {
  font-size: 16px;
  letter-spacing: 0.14px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .joinNow-section h4 {
    font-size: 28px;
  }
}

footer .top-row {
  padding-block: 50px;
}
footer .foot-about p {
  opacity: 0.3;
  font-size: 14px;
  margin-top: 15px;
}
@media (min-width: 992px) {
  footer .foot-about p {
    font-size: 16px;
    max-width: 350px;
    margin-top: 26px;
  }
}
footer .footLinks {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  footer .footLinks {
    margin-bottom: 0px;
    padding-left: 5%;
  }
}
footer .footLinks h4 {
  font-size: 24px;
  margin-bottom: 27px;
}
footer .footLinks .footLink-in a {
  color: #1F1F25;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 14px;
}
footer .footConnect {
  padding-left: 5.5%;
}
footer .footConnect p {
  font-size: 16px;
  opacity: 0.3;
}
footer .footConnect .footConnect-in a {
  color: #1F1F25;
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}
footer .footConnect .social-links {
  margin-top: 15px;
  display: flex;
}
footer .footConnect .social-links a {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
footer .footConnect .social-links a:last-child {
  margin: 0;
}
footer .copyText {
  font-size: 14px;
}
@media (min-width: 992px) {
  footer .copyText {
    font-size: 16px;
  }
}
footer .copyText span {
  font-size: 28px;
}/*# sourceMappingURL=style.css.map */